#!/usr/bin/env bash

# modern defaults
alias op="open"
alias cat="bat"
alias htop="htop --sort-key=PERCENT_CPU"
alias grep='rg'
alias find='fd'
alias al="alias | ag"
alias hs='history | grep'
alias ncdu='ncdu --color=dark'
alias cpd='copydir'
alias cpf='copyfile'
alias skl="sk --ansi -i -c 'grep -rI --color=always --line-number "{}" .'"
# alias lps="foo(){lpass show -c --password $(lpass ls  | fzf | awk '{print $(NF)}' | sed 's/\]//g')}; foo"
# shell
alias change="code $DOTFILES_ROOT"
alias update="source $HOME/.zshrc"
alias reload="exec ${SHELL} -l"
alias path='echo -e ${PATH//:/\\n}'
# spotify control
alias spn="spotify next"
alias sps="spotify stop"
alias spp="spotify play"
# python
alias python="python3"
alias pip="pip3"
# network
alias myip="curl http://ipecho.net/plain; echo"
alias myrouter="netstat -nr | grep default"
alias localip="ipconfig getifaddr en0"
alias st="speedtest-cli --no-upload --bytes"
# updates
alias brewup="brew update; brew upgrade; brew cask upgrade; brew cask doctor; brew cleanup; brew doctor"
alias sysup="$DOTFILES_ROOT/update-plugins.sh"
alias npmup="npm install npm -g; npm update -g"
alias gemup="sudo gem update --system; sudo gem update; sudo gem cleanup"
alias pyup="pip3 list -o --format columns|  cut -d' ' -f1|xargs -n1 pip3 install -U"
alias allup="brewup; sysup; gemup; npmup; pyup"
# ls
alias cls="clear && ls"
alias ll="exa --time-style=long-iso --icons --all --group-directories-first --color=always --classify --long --git --header"
alias ls="exa -1 --icons --all --group-directories-first --color=always --classify"
alias lsd="ls --only-dirs"
alias lsr="exa -1 --icons --all --group-directories-first --color=always --classify --reverse --sort=modified"
alias tree='exa --tree --all --ignore-glob="node_modules|venv|.mypy_cache|.idea|.git|__pycache__|.vscode|.next|virtualenv|vendor"'
# alias lst="exa --git-ignore --tree --level=5"
# alias tree="tree -I 'node_modules|venv'"
# git
alias gaa='git add .'
alias gac="git add -v . && git commit -v"
alias gb="git branch --sort=-committerdate --verbose"
alias gcount="git shortlog -sn --all --no-merges"
alias gd="git diff -w"
alias gds="git diff --staged"
alias gdw="git diff --word-diff -w"
alias giu="git status --porcelain | grep '^??' | cut -c4- >> .gitignore"
alias glb='git branch --sort="-committerdate" --format="%(color:green)%(committerdate:relative)%(color:reset) %(refname:short)"'
alias glog='git log --oneline --decorate --graph --all -20'
alias gloga='git log --pretty="%Cred%h%Creset | %C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %C(cyan)[%an]%Creset" --graph --all --decorate'
alias glogg='git log --oneline --decorate --graph --all'
alias glogr='git log --oneline --decorate --reverse --all'
alias glogs='git log --reverse --all --decorate --stat --date=iso'
alias gpbd='git push origin --delete'
alias grhs='git reset --soft'
alias gsh="git show -w"
alias gst="git status --show-stash --untracked-files=all"
alias gupod="git pull --autostash --rebase origin develop"
alias gupom="git pull --autostash --rebase origin master"
alias gcod="git checkout develop"
alias gcom="git checkout master"
alias lg='lazygit'
# docker
alias doc='docker'
alias ldoc='lazydocker'
# npm
alias ni='npm install'
alias nu='npm uninstall'
alias nid='npm install --save-dev'
alias nig='npm install --global'
alias nt='npm test'
alias nit='npm install && npm test'
alias nk='npm link'
alias naf='npm audit fix'
alias nr='npm run'
alias ns='npm start'
alias nf='npm cache clean && rm -rf node_modules && npm install'
alias nlg='npm list --global --depth=0'
alias npkill='npx npkill'
alias depcheck='npx depcheck'
# prompt if deleting more than 3 files at a time #
alias rm='rm -Iv'
# confirmation #
alias mv='mv -iv'
alias cp='cp -iv'
alias ln='ln -iv'
# Brew
alias brewsl='brew services list'
alias brewlistcask="brew cask list -1"
# Parenting changing perms on / #
alias chown='chown --preserve-root'
alias chmod='chmod --preserve-root'
alias chgrp='chgrp --preserve-root'
# Gatekeeper (for installing 3rd party apps)
alias gatekeeperOff="sudo spctl --master-disable"
alias gatekeeperOn="sudo spctl --master-enable"
# sort LaunchPad
alias sortlaunchpad="defaults write com.apple.dock ResetLaunchPad -bool true; killall Dock"
# Clean up LaunchServices to remove duplicates in the “Open With” menu
alias lscleanup="/System/Library/Frameworks/CoreServices.framework/Frameworks/LaunchServices.framework/Support/lsregister -kill -r -domain local -domain system -domain user && killall Finder"
# Get week number
alias week='date +%V'
