#!/bin/bash

# modern defaults
alias al="alias | ag"
alias hs='history | grep'
# alias ncdu='ncdu --color=dark'
alias htop="htop --sort-key=PERCENT_CPU"
# shell
alias update="source $HOME/.zshrc"
alias reload="exec ${SHELL} -l"
alias path='echo -e ${PATH//:/\\n}'
# network
alias pingdns="ping -c3 8.8.8.8"
alias pingtest="ping -c3 google.com"
alias myip="curl http://ipecho.net/plain; echo"
alias myrouter="netstat -nr | grep default"
alias localip="ipconfig getifaddr en0"
# ls
alias cls="clear && ls"
# git
alias gaa='git add .'
alias gac="git add -v . && git commit -v"
alias gapa='git add --intent-to-add . && git add --patch'
alias gb="git branch --sort=-committerdate --verbose"
alias gbdr='git push origin --delete'
alias gcnv="git commit --allow-empty --no-verify"
alias gcob="git checkout -b"
alias gcod="git checkout develop"
# alias gcom="git checkout $(git default-branch)"
alias gcot="git checkout -t"
alias gcount="git shortlog -sn --all --no-merges"
alias gd="git diff"
alias gdc="diff --name-only --diff-filter=U"
alias gds="git diff --staged"
alias gdw="git diff --word-diff -w"
alias gep='git add . && git commit --allow-empty - m "intentionally empty debug push" && git push origin $(git_current_branch)'
alias ggc="git gc --prune=now --aggressive"
alias giu="git status --porcelain | grep '^??' | cut -c4- >> .gitignore"
alias glb='git branch --sort="-committerdate" --format="%(color:green)%(committerdate:relative)%(color:reset) %(refname:short)"'
alias glog='git log --oneline --decorate --graph --all -20'
alias gloga='git log --pretty="%Cred%h%Creset | %C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %C(cyan)[%an]%Creset" --graph --all --decorate'
alias glogg='git log --oneline --decorate --graph --all'
alias glogs='git log --all --decorate --stat --date=iso'
alias grhs1='git reset --soft HEAD~1'
alias grhs='git reset --soft'
alias grss='git restore --staged'
alias gsh="git show -w"
alias gst="git status --show-stash --untracked-files=all"
alias gupod="git pull --autostash --rebase origin develop"
alias gupo="git pull --autostash --rebase origin"
alias lg='lazygit'
# docker
alias dcls='docker container ls --format "table {{.Image}}\t{{.Names}}\t{{.Status}}"'
alias ldoc='lazydocker'
alias ctop='ctop -i'
alias dcupb='docker-compose up --build'
# npm
alias ni='npm install'
alias nu='npm uninstall'
alias nid='npm install --save-dev'
alias nig='npm install --global'
alias nt='npm test'
alias nit='npm install && npm test'
alias nk='npm link'
alias naf='npm audit fix'
alias nr='npm run'
alias ns='npm start'
alias nf='npm cache clean && rm -rf node_modules && npm install'
alias nlg='npm list --global --depth=0'
alias npkill='npx npkill'
alias depcheck='npx depcheck'
# prompt if deleting more than 3 files at a time #
alias rm='rm -iv'
# confirmation #
alias mv='mv -iv'
alias cp='cp -iv'
alias ln='ln -iv'
# Parenting changing perms on / #
alias chown='chown --preserve-root'
alias chmod='chmod --preserve-root'
alias chgrp='chgrp --preserve-root'
# Get week number
alias week='date +%V'
