#!/bin/bash

export EDITOR="$VISUAL"
export ENHANCD_FILTER="fzf"
export ENHANCD_HYPHEN_NUM="20"
export FZF_DEFAULT_COMMAND='ag --hidden --ignore .git -f -g "" --depth=-1'
export GIT_EDITOR=vim
export LANG=en_US.UTF-8
export LC_ALL=en_US.UTF-8
export LESS="-i -RJ -+E"
export LESSCHARSET=utf-8
export MANPATH="/usr/local/man:$MANPATH"
export PATH="$HOME/bin:$PATH"
export SPROMPT="Correct $fg[red]%R$reset_color to $fg[green]%r$reset_color? [Yes, No, Abort, Edit] "
export VISUAL=vim
export YSU_MESSAGE_POSITION="after"

export FZF_DEFAULT_OPTS="
  --layout=reverse
  --height 40%
  --prompt='λ -> '
  --pointer='|>'
  --marker='✓'
  --ansi
"
export FZF_DEFAULT_OPTS=$FZF_DEFAULT_OPTS' --color=fg:#808080,bg:#ffffff,hl:#0069d1 --color=fg+:#000000,bg+:#e3e3e3,hl+:#0069d1 --color=info:#afaf87,prompt:#d7005f,pointer:#19d400 --color=marker:#00d435,spinner:#3451c7,header:#009494'
