#!/bin/bash

export EDITOR="$VISUAL"
export ENHANCD_FILTER="fzf"
#export ENHANCD_HOOK_AFTER_CD="ls"
export ENHANCD_HYPHEN_NUM="15"
export FZF_DEFAULT_COMMAND='ag --hidden --ignore .git -f -g "" --depth=-1'
export GEM_HOME="$HOME/gems"
export GIT_EDITOR=vim
export LANG=en_US.UTF-8
export LC_ALL=en_US.UTF-8
export LESS="-i -RJ -+E"
export LESSCHARSET=utf-8
export MANPATH="/usr/local/man:$MANPATH"
export PATH="$HOME/bin:$PATH"
export PATH="$HOME/gems/bin:$PATH"
export SPROMPT="Correct $fg[red]%R$reset_color to $fg[green]%r$reset_color? [Yes, No, Abort, Edit] "
export VISUAL=vim
export YSU_MESSAGE_POSITION="after"

_gen_fzf_default_opts() {
  local base03="234"
  local base02="235"
  local base01="240"
  local base00="241"
  local base0="244"
  local base1="245"
  local base2="254"
  local base3="230"
  local yellow="136"
  local orange="166"
  local red="160"
  local magenta="125"
  local violet="61"
  local blue="33"
  local cyan="37"
  local green="64"

  ## Solarized Light color scheme for fzf
  export FZF_DEFAULT_OPTS="
    --color fg:-1,bg:-1,hl:$blue,fg+:$base02,bg+:$base2,hl+:$blue
    --color info:$yellow,prompt:$yellow,pointer:$base03,marker:$base03,spinner:$yellow
    --layout=reverse
  "
}
_gen_fzf_default_opts
