[user]
	name = Gordon Pham-Nguyen
	email = gordon.pn6@gmail.com
[color]
	ui = auto
[core]
	attributesfile = ~/.gitattributes
	autocrlf = input
	editor = nano -w
	eol = lf
	excludesFile = ~/.gitignore
	hooksPath = ~/.githooks
	pager = delta --dark --paging never --tabs 2 --theme ansi-dark --file-style box
	# pager = cat
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = "code --wait $MERGED"
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = "code --wait --diff $LOCAL $REMOTE"
[credential]
	helper = osxkeychain
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
#[commit]
#	template = ~/.gitmessage
[alias]
	delete-merged-branches = "!f() { git checkout --quiet master && git branch --merged | grep --invert-match '\\*' | xargs -n 1 git branch --delete; git checkout --quiet @{-1}; }; f"
	pr = "!f() { git fetch -fu ${2:-upstream} refs/pull/$1/head:pr/$1 && git checkout pr/$1; }; f"
	pr-clean = "!git checkout master ; git for-each-ref refs/heads/pr/* --format=\"%(refname)\" | while read ref ; do branch=${ref#refs/heads/} ; git branch -D $branch ; done"
[hub]
	protocol = https
[url "https://github.com/"]
	insteadOf = git@github.com:
[url "https://"]
	insteadOf = git://
